.App {
  margin: 40px auto;
  width: 800px;
}

p {
  font-size: 2rem;
  color: black;
  text-align: center;
  margin: 0 0 0 20px;
}

h1 {
  font-size: 4rem;
  text-align: center;
}

h3 {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 20px;
}

.action,
.project {
  width: 500px;
  height: 200px;
  border: 2px solid black;
  border-radius: 6px;
  margin: 40px auto 20px auto;
  display: flex;
  flex-wrap: wrap;
}

.description,
.notes,
.name {
  width: 100%;
  display: flex;
  margin-top: 40px;
}
